name: build
permissions: read-all

on: [ push, workflow_dispatch ]

jobs:
  plugin-linter:
    runs-on: ubuntu-latest
    container:
      image: buildkite/plugin-linter@sha256:e421447aa3b94817190c3ecce3b3ebe50164e7fbccd507d8255a978bccb4c0ac
      volumes:
        - ${{ github.workspace }}:/plugin
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          fetch-depth: 0
      - name: Buildkite plugin linter
        run: lint --id opzkit/pre-commit

  plugin-tester:
    runs-on: ubuntu-latest
    container:
      image: buildkite/plugin-tester@sha256:8ac30e4e1514c6b7ec689eb09c600b720e7e936817f7e21a2e3a33008ef70c40
      volumes:
        - ${{ github.workspace }}:/plugin
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          fetch-depth: 0
      - name: Buildkite plugin test
        run: "bats tests"
