name: build
permissions: read-all

on: [ push, workflow_dispatch ]

jobs:
  plugin-linter:
    runs-on: ubuntu-latest
    container:
      image: buildkite/plugin-linter@sha256:6ff871df9c3ab7d7d2a9a4767fef2d8067690e821359f006e654c671e09ffb97
      volumes:
        - ${{ github.workspace }}:/plugin
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
      - name: Buildkite plugin linter
        run: lint --id opzkit/pre-commit

  plugin-tester:
    runs-on: ubuntu-latest
    container:
      image: buildkite/plugin-tester@sha256:a987f2629928e019291bbe76385ba86207caec918a7e24504b120f5da057c210
      volumes:
        - ${{ github.workspace }}:/plugin
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
      - name: Buildkite plugin test
        run: "bats tests"
