name: build
permissions: read-all

on: [ push, workflow_dispatch ]

jobs:
  plugin-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '24'
      - name: Install plugin-linter
        run: |
          git clone --depth 1 https://github.com/buildkite-plugins/buildkite-plugin-linter.git /tmp/plugin-linter
          cd /tmp/plugin-linter && npm install
      - name: Buildkite plugin linter
        run: /tmp/plugin-linter/bin/lint --id opzkit/pre-commit --path .

  plugin-tester:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - name: Install bats and helpers
        env:
          BATS_LIB_DIR: ${{ runner.temp }}/bats-libs
        run: |
          sudo apt-get update
          sudo apt-get install -y bats
          mkdir -p "$BATS_LIB_DIR"
          git clone --depth 1 https://github.com/bats-core/bats-support.git "$BATS_LIB_DIR/bats-support"
          git clone --depth 1 https://github.com/bats-core/bats-assert.git "$BATS_LIB_DIR/bats-assert"
          git clone --depth 1 https://github.com/buildkite-plugins/bats-mock.git "$BATS_LIB_DIR/bats-mock"
          cat > "$BATS_LIB_DIR/load.bash" << EOF
          source "$BATS_LIB_DIR/bats-support/load.bash"
          source "$BATS_LIB_DIR/bats-assert/load.bash"
          source "$BATS_LIB_DIR/bats-mock/stub.bash"
          EOF
      - name: Buildkite plugin test
        env:
          BATS_PLUGIN_PATH: ${{ runner.temp }}/bats-libs
        run: bats tests
