name: build
permissions: read-all

on: [ push, workflow_dispatch ]

jobs:
  plugin-linter:
    runs-on: ubuntu-latest
    container:
      image: buildkite/plugin-linter@sha256:117104efbbf80e6583f426b6e2051d97386ad3d23c0844c729f8dc9a92ea380a
      volumes:
        - ${{ github.workspace }}:/plugin
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
      - name: Buildkite plugin linter
        run: lint --id opzkit/pre-commit

  plugin-tester:
    runs-on: ubuntu-latest
    container:
      image: buildkite/plugin-tester@sha256:a987f2629928e019291bbe76385ba86207caec918a7e24504b120f5da057c210
      volumes:
        - ${{ github.workspace }}:/plugin
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
      - name: Buildkite plugin test
        run: "bats tests"
