name: build
permissions: read-all

on: [ push, workflow_dispatch ]

jobs:
  plugin-linter:
    runs-on: ubuntu-latest
    container:
      image: buildkite/plugin-linter@sha256:9121e405315793d9526095ea6e851e7197039508a2c56805979a8915686fcbf0
      volumes:
        - ${{ github.workspace }}:/plugin
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
      - name: Buildkite plugin linter
        run: lint --id opzkit/pre-commit

  plugin-tester:
    runs-on: ubuntu-latest
    container:
      image: buildkite/plugin-tester@sha256:f53f5c3270090c9eaebef38522f610ff9852c30336774f72c23a8651f31f7fb2
      volumes:
        - ${{ github.workspace }}:/plugin
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
      - name: Buildkite plugin test
        run: "bats tests"
