name: build
permissions: read-all

on: [ push, workflow_dispatch ]

jobs:
  plugin-linter:
    runs-on: ubuntu-latest
    container:
      image: buildkite/plugin-linter@sha256:496ffbc7ec96d7df367321802d33cf7dba5f5261b755a7d91f58d3716c28d788
      volumes:
        - ${{ github.workspace }}:/plugin
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
      - name: Buildkite plugin linter
        run: lint --id opzkit/pre-commit

  plugin-tester:
    runs-on: ubuntu-latest
    container:
      image: buildkite/plugin-tester@sha256:f53f5c3270090c9eaebef38522f610ff9852c30336774f72c23a8651f31f7fb2
      volumes:
        - ${{ github.workspace }}:/plugin
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
      - name: Buildkite plugin test
        run: "bats tests"
